:root{
    --primary:crimson;
    --dark:#1f2937;
    --darkdark:#111827;
    --light:#f3f4f6;

}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: FIRA sans-serif;

}

body{
    background-color: blue;
    color: greenyellow;

}
.watch{
    text-align: center;
    background-color: rgb(113, 113, 171);
    width: 100%;
    max-width: 360px;
    margin: 4rem auto;     
    padding: 1rem 2rem ;
    border-radius: 3rem;
}
.time{
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.control{
    display: flex;
    align-items: center;
    justify-content: center;

}

.control button{
    appearance: none;
    background: none;
    border:none;
    outline: none;
    user-select: none;
    cursor: pointer;

    color: var(--light);
    font-size: 1.125rem;
    background-color: var(--primary);
    margin: 0.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: .4s;



}
button:hover{
    opacity: .7;
}

button:active{
    background-color: var(--dark);
}